/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Caveat", sans-serif;
  --primary-color: darkgreen; /* dark green */
  --secondary-color: #aa9581; /* light brown */
  --highlight-color: #416a8e; /* blue */
  --highlight-color-light: #7a9fc2; /* light blue */
  --primary-text-color: #5c2d2d;
}

body {
  /* background-color: rgb(252 , 245, 229); */
  background-color: #eddecb;
}

.monthly-payments {
  margin-top: 20px;
}

.center-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  
  
}

/* #calcOnUserSelection {
display:inline-block;
margin:0 auto;
  margin-top: 20px;
  width: 200px;
} */

/* .row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;

} */

/* .form-text {
  font-family: var(--primary-font);

  font-weight: 100;
  font-style: normal;
  font-size: large;
  color: #cef542;

  padding: 10px 10px 10px 10px;

  text-align: justify;
  display: flex;
  position: relative;
  justify-content: left;

  margin-top: 20px;
  z-index: 200;

  width: 100%;

  background-color: transparent;
} */

.col-form-label {
  font-family: var(--primary-font);

  font-weight: 100;
  font-style: normal;
  font-size: large;
  color: black;

  padding: 3px 3px 3px 3px;

  margin-bottom: 0;
  margin-left: 5px;
  line-height: 1.5;
}

.form-check-label {
  font-family: var(--primary-font);

  /* font-weight: 100; */
  font-style: normal;
  /* font-size: large; */
  color: black;

  font-size: medium;
  font-weight: bold;
  line-height: 1.5;
}

.input-fields .form-control {
  flex-shrink: 0;
  /* width: 50px; */
  max-width: 100px;
}

.form-control {
  background-color: #e1c7a7;
}

.form-check .form-check-input {
  float: right;
  margin-left: 2em;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid blue;
  background-color: grey;
}

.row .form-check,
.row .form-check-input {
  vertical-align: middle;
}

/* label {
  max-width: 70%;
  vertical-align: middle;
} */

#welcome-text {
  font-family: var(--secondary-font);

  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  color: var(--primary-text-color);

  padding: 10px 10px 10px 10px;
  line-height: 1em;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  width: 85%;

  background-color: transparent;
}

@media screen and (min-width: 360px) {
  .col-form-label {
    font-size: medium;
    font-weight: bold;
  }

  .form-check-label {
    padding: 2px 5px 0px 5px;
  }
}

/* Intermediate breakpoint (529-767px) */
@media screen and (min-width: 576px) {
  .col-form-label {
    font-size: medium;
  }
}

.form-check-label {
  padding: 8px 5px 0px 5px;
}

/* Devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .col-form-label {
    font-size: large;
  }

  .form-check-label {
    padding: 8px 5px 0px 5px;
  }
}

/* Devices (992px and larger) */
@media screen and (min-width: 992px) {
  .form-check-label {
    padding: 10px 5px 0px 5px;
  }
}

/* Devices (1200px and larger) */
@media screen and (min-width: 1200px) {
}

/* Devices (1400px and larger) */
@media screen and (min-width: 1400px) {
  .input-field {
    max-width: 350px;
  }
}
